<div class="box box-primary">
    <div class="box-header with-border">
        <i class="ion ion-images"></i>
        <h3 class="box-title">Image</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body box-image">
      <div class="box-fancybox">
        <% for (var i in theme.fancybox_thumb) { %>
          <a class="fancybox-thumb" rel="fancybox-thumb" href="http://pic.yupoo.com/xiahl0916/<%- i %>/medish.jpg" title="IMG_0939">
            <img src="http://pic.yupoo.com/xiahl0916/<%- i %>/medish.jpg" alt="IMG_0939"/>
          </a>
        <% } %>     
      </div>
    </div>    
    <!-- ./box-body -->
</div>
