<div class="box box-primary">
    <div class="box-header with-border">
        <i class="ion ion-images"></i>
        <h3 class="box-title">Image</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm2.staticflickr.com/1661/24170619595_ca34ef74d9_b.jpg" title="Bos 3 (p.vanhaastrecht)">
          <img src="http://farm2.staticflickr.com/1661/24170619595_ca34ef74d9_m.jpg" alt="" />
        </a>
        <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm2.staticflickr.com/1514/23919332220_60b7867d60_b.jpg" title="the forest at dawn (Luca-Anconetani)">
          <img src="http://farm2.staticflickr.com/1514/23919332220_60b7867d60_m.jpg" alt="" />
        </a>
        <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm2.staticflickr.com/1669/23976340262_a5ca3859f6_b.jpg" title="Twilight Memories (doraartem)">
          <img src="http://farm2.staticflickr.com/1669/23976340262_a5ca3859f6_m.jpg" alt="" />
        </a>
        <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm2.staticflickr.com/1459/23610702803_83655c7c56_b.jpg" title="Electrical Power Lines and Pylons disappear over t.. (pautliubomir)">
          <img src="http://farm2.staticflickr.com/1459/23610702803_83655c7c56_m.jpg" alt="" />
        </a>
        <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_b.jpg" title="Morning Godafoss (Brads5)">
          <img src="http://farm2.staticflickr.com/1617/24108587812_6c9825d0da_m.jpg" alt="" />
        </a>
        <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm4.staticflickr.com/3691/10185053775_701272da37_b.jpg" title="Vertical - Special Edition! (cedarsphoto)">
          <img src="http://farm4.staticflickr.com/3691/10185053775_701272da37_m.jpg" alt="" />
        </a>
        <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm1.staticflickr.com/574/22407305427_69cc6e845f_b.jpg" title="Racing against the Protons (tom.leuzi)">
          <img src="http://farm1.staticflickr.com/574/22407305427_69cc6e845f_m.jpg" alt="" />
        </a>
        <a class="fancybox-thumb" rel="fancybox-thumb" href="http://farm1.staticflickr.com/291/18653638823_a86b58523c_b.jpg" title="Lupines (Kiddi Einars)">
          <img src="http://farm1.staticflickr.com/291/18653638823_a86b58523c_m.jpg" alt="" />
        </a>
    </div>    
    <!-- ./box-body -->
</div>
