<section class="scroll" id="article-scroll-button">
    <a href="#" title="返回顶部"><i class="fa fa-arrow-up"></i></a>
    <a href="#comments" onclick="if (<%- theme.preload_comment %>) load$hide(); return theme.preload_comment;" title="查看评论" class="to-comment" style="display: none;"><i class="fa fa-comments-o"></i></a>
    <a href="#footer" title="转到底部"><i class="fa fa-arrow-down"></i></a>
</section>
