<h4 class='control-sidebar-heading'>Theme</h4>
<ul class="list-unstyled clearfix" id="theme-list">
    <li>
    	<a class="label label-info" href="/icarus" title="Icarus" itemprop="theme-icarus">Icarus</a>
    	<a class="label label-warning" href="/next" title="Next" itemprop="theme-next">Next</a>
    	<a class="label label-success" href="/yelee" title="Yelee" itemprop="theme-yelee">Yelee</a>
    </li>
</ul>