.scroll {
    z-index: 999;
    position: fixed;
    top: 61.8%;
    right: 0;
    text-align: center;
    line-height: 42px;
}
.scroll a:not(:last-child) {
    border-bottom: 1px solid #fff;
}
.scroll a {
    display: block;
    width: 29px;
    height: 42px;
    font-size: 28px;
    background: rgba(215,216,215,0.4);
}
.scroll a .fa {
    color: rgba(255,255,255,0.8);
}