.social {
	padding-left: 0px;
}
.social a {
    width: 39px;
    height: 39px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 2px 6px;
    vertical-align: middle;
    font-size: 25.740000000000002px;
    line-height: 39px;
    text-align: center;
    color: #fff;
    background: #6f7170;
    opacity: 0.7;
    -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.3);
}

.social .fa-email:before {
	content: "\f003";
}

    	
