<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <%- body %>
    </section>
    <!-- /.content -->

    <section class="scroll" id="scroll">
	    <a href="#" title="返回顶部"><i class="fa fa-arrow-up"></i></a>
	    <a href="#comments" onclick="load$hide();" title="查看评论" class="to-comment" style="display: none;"><i class="fa fa-comments-o"></i></a>
	    <a href="#footer" title="转到底部"><i class="fa fa-arrow-down"></i></a>
    </section>
</div>
<!-- /.content-wrapper -->