<footer class="main-footer" id="footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">
	  Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="https://github.com/Xiahl1990">tianxiamucun</a>
	</div>
	<!-- Default to the left -->
	&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
</footer>